<div class="card-container">
  <div class="hotel-card" *ngFor="let hotel of hotels">
    <img [src]="hotel.image" alt="Hotel Image">
    <div class="card-details">
      <h3>{{ hotel.name }}</h3>
      <p>City: {{ hotel.city }}</p>
      <p>Area: {{ hotel.area }}</p>
      <div class="ratings">
        <span class="rating">{{ hotel.rating }}</span>
        <span class="stars">
          <ng-container *ngFor="let star of getStarArray(hotel.rating)">
            <i class="fas fa-star"></i>
          </ng-container>
        </span>
      </div>
      <a [routerLink]="['/booking-form', hotel.id]" class="button-link">Book Now</a>
<!-- Updated to use routerLink -->
      <p class="price">{{ hotel.price }}</p>
      
      </div>
    </div>
  </div>
