<body class="background-image">

<div class="container">
<form [formGroup]="registerForm" (ngSubmit)="submitDetails()">
    <p-card  [style]="{ width: '360px' }">
      <div class="field">
        <label for="fullName">FullName</label>
        <input
          type="text"
          pInputText
          formControlName="fullName"
          class="w-full"
          name="fullName"
          placeholder="Type your name"
        />
        <small
          *ngIf="fullName.invalid && (fullName.dirty || fullName.touched)"
          class="block p-error"
        >
          <div *ngIf="fullName.errors?.['required']">Name is required.</div>
          <div *ngIf="fullName.errors?.['pattern']">Enter a valid Name</div>
        </small>
      </div>
      <div class="field">
        <label for="email">Email</label>
        <input
          type="text"
          pInputText
          formControlName="email"
          class="w-full"
          name="email"
          placeholder="Type your email"
        />
        <small
          *ngIf="email.invalid && (email.dirty || email.touched)"
          class="block p-error"
        >
          <div *ngIf="email.errors?.['required']">Email is required.</div>
          <div *ngIf="email.errors?.['email']">Email should be valid</div>
        </small>
      </div>
      <div class="field">
        <label for="password">Password</label>
        <input
          type="password"
          pInputText
          formControlName="password"
          class="w-full"
          name="password"
          placeholder="Type your password"
        />
        <small
          *ngIf="password.invalid && (password.dirty || password.touched)"
          class="block p-error"
        >
          <div *ngIf="password.errors?.['required']">Password is required.</div>
        </small>
      </div>
      <div class="field">
        <label for="confirmPassword">Confirm Password</label>
        <input
          type="password"
          pInputText
          formControlName="confirmPassword"
          class="w-full"
          name="confirmPassword"
          placeholder="Confirm Password"
        />
        <small
          *ngIf="
            confirmPassword.invalid &&
            (confirmPassword.dirty || confirmPassword.touched)
          "
          class="block p-error"
        >
          <div *ngIf="confirmPassword.errors?.['required']">
            Confirm the password
          </div>
        </small>
        <small
          class="block p-error"
          *ngIf="registerForm.errors?.['passwordMismatch'] && confirmPassword.valid && password.valid"
        >
          Password should match
        </small>
      </div>
      <!-- pancard -->
      <div class="field">
        <label for="pancard">PAN Card</label>
        <div class="radio-buttons">
          <input type="radio" id="yes" name="hasPanCard" formControlName="hasPanCard" value="yes">
          <label for="yes">Yes</label>
          <input type="radio" id="no" name="hasPanCard" formControlName="hasPanCard" value="no">
          <label for="no">No</label>
        </div>
      </div>
      
      
        
     
      <div class="button-container">
        <button pButton type="submit" label="Register" class="register-button"></button>
        <button pButton type="submit" label="Login" class="login-button" (click)="redirectToLogin()"></button>
      </div>
      
    </p-card>
  </form>
</div>
</body>
  