.booking-form {
    max-width: 400px;
    margin: auto;
    border-color: #5756e6;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 20px;
    padding: 10px 15px;
    
  }
  
  label {
    display: block;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    border-color:#5756e6;
  }
  
  button {
    background-color: #5756e6;
    color: #f7bf88;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #f7bf88;
    color: #5756e6;
  }
  
  .error {
    color: red;
    font-size: 12px;
  }
  