<body class="background-image">

<form [formGroup]="loginForm" (ngSubmit)="loginUser()" class="login-form">
  <div class="form-container">
    <div class="field">
      <label for="email">Email</label>
      <input
        type="text"
        pInputText
        formControlName="email"
        class="w-full"
        name="email"
        placeholder="Type your email"
      />
      <small
        *ngIf="email.invalid && (email.dirty || email.touched)"
        class="block p-error"
      >
        <div *ngIf="email.errors?.['required']">Email is required.</div>
        <div *ngIf="email.errors?.['email']">Email should be valid</div>
      </small>
    </div>
    <div class="field">
      <label for="password">Password</label>
      <input
        type="password"
        pInputText
        formControlName="password"
        class="w-full"
        name="password"
        placeholder="Type your password"
      />
      <small
        *ngIf="password.invalid && (password.dirty || password.touched)"
        class="block p-error"
      >
        <div *ngIf="password.errors?.['required']">Password is required.</div>
      </small>
    </div>
    <!-- <p-button
      label="SIGN IN"
      styleClass="w-full"
      [disabled]="loginForm.invalid"
      type="submit"
    ></p-button>
    <div class="mt-2">
      <button pButton type="button" label="Register" class="register-button" (click)="redirectToRegister()"></button> -->
      <button class="custom-button sign-in-button">SIGN IN</button>
<button class="custom-button register-button" (click)="redirectToRegister()">REGISTER</button>

    </div>
  <!-- </div> -->
</form>
</body>
