<header class="bg-dark">
    <div id="showcase">
        <div class="container">
            <div class="showcase-content">
                <span class="fg-text">
                    <h1><span class="text-primary">Enjoy</span> Your Stay</h1>
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore.</p>
                    <a routerLink="/about-us" class="btn">About Us</a>
                </span>
            </div>
        </div>
    </div>
</header>

<section id="home-info" class="bg-dark">
    <div class="info-image"></div>
    <div class="info-content">
        <h2><span class="text-primary">The History</span> Of Our Hotel</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur.</p>
        <a href="/about-us" class="btn btn-light">Read More</a>
    </div>
</section>


<section id="features">
    <div class="location">
        <i class="fas fa-hotel fa-3x"></i>
        <h3>Great Location</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua.</p>
    </div>
    <div class="meals bg-primary">
        <i class="fas fa-utensils fa-3x"></i>
        <h3>Free Meals</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. </p>
    </div>
    <div class="fitness">
        <i class="fas fa-dumbbell fa-3x"></i>
        <h3>Fitness Room</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua.</p>
    </div>
</section>