<header class="bg-dark">
    <div id="showcase">
        <div class="container">
            <div class="showcase-content">
                <span class="fg-text">
                    <h1><span class="text-primary">Enjoy</span> Your Stay</h1>
                    <p class="lead" style="color:black; font-weight: bold;">Discover Your Perfect Stay with RoomRover! Explore a World of Endless Possibilities,
                        Where Every Room Tells a Unique Story. Book Your Journey to Comfort and Convenience Today with
                        RoomRover!</p>
                    <a routerLink="/about-us" class="btn">About Us</a>
                </span>
            </div>
        </div>
    </div>
</header>

<section id="home-info">
    <div class="info-image"></div>
    <div class="info-content">
        <h2><span class="text-primary">Embark on a Journey</span>Through the Rich History of Our Hotel!</h2>
        <p>From Its Humble Beginnings to Its Magnificent Present, Experience the Evolution of Luxury and Hospitality.
            Immerse Yourself in the Story of Our Establishment, Where Every Detail Reflects Excellence and Dedication.
            Welcome to a World Where Tradition Meets Innovation, Where Memories Are Made and Stories Unfold. RoomRover
            invites you to Discover the Legacy Behind Our Name.</p>
        <a href="/about-us" class="btn btn-light">Read More</a>
    </div>
</section>


<section id="features">
    <div class="location">
        <i class="fas fa-hotel fa-3x"></i>
        <h3>Great Location</h3>
        <p>We welcome you to indulge in the convenience and charm of our prime locations across the globe.</p>
    </div>
    <div class="meals bg-primary">
        <i class="fas fa-utensils fa-3x"></i>
        <h3>Free Meals</h3>
        <p>Enjoy complimentary meals during your stay, adding an extra layer of delight to your experience with
            RoomRover.</p>
    </div>
    <div class="fitness">
        <i class="fas fa-dumbbell fa-3x"></i>
        <h3>Fitness Room</h3>
        <p>Elevate your stay with access to our state-of-the-art fitness room at RoomRover. Stay active and energized while traveling.</p>
    </div>
</section>