<div class="we-are-block">

    <div id="about-us-section">
  
      <div class="about-us-image">
  
        <img src="https://images.pexels.com/photos/258154/pexels-photo-258154.jpeg?auto=compress&cs=tinysrgb&w=400" width="808" height="458" opacity="0.8" alt="Lobby Image">
  
      </div>
  
      <div class="about-us-info">
  
        <h3><span style="color: #f7bf88;">Welcome to RoomRover: </span>Your Gateway to Seamless Hotel Bookings!</h3>
  
        <p>Located at the forefront of convenience, RoomRover simplifies the process of finding and managing your accommodation, ensuring a hassle-free experience for travelers worldwide. Whether you're planning a business trip or a leisurely getaway, RoomRover is your trusted partner in enhancing your travel logistics.</p>
  
        <a routerLink="/contacts" title="Contacts Button">Contacts</a>
  
      </div>
  
    </div>
  
    <div id="history-section">
  
      <div class="history-image">
  
        <img src="https://digitalupgrade.com/images/building_pic.jpg" width="951" height="471" alt="Building Pic">
  
      </div>
  
      <div class="history-info">
  
        <h3>Why to <span style="color: #5756e6;">Choose RoomRover </span></h3>
  
        <p>At RoomRover, we prioritize your comfort and convenience above all else. Our intuitive interface makes it easy to search for hotels, compare prices, and book your ideal room with just a few clicks. Plus, with our secure payment system and flexible cancellation policies, you can book with peace of mind knowing that your reservation is protected.</p>
  
        <a routerLink="/book-hotel" class="bottom-button" title="Book Hotel">Book Now</a>
        <br>
        <br>
    
      </div>
  
    </div>
  
  </div>